<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bootzapp</title>

    <!-- Icona scheda web -->
    <link rel="icon" href="./img/Icon/nerv-logo-3F7E5E1B2B-seeklogo.com.png" type="Nerv-Logo">

    <!-- collegamento CSS -->
    <link rel="stylesheet" href="style.css">

    <!-- Google Font: Lato -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

</head>


<body>           
    <div class="flex-box" id="app"> <!-- Instanza Vue 3 -->    

    <!--    ,--,                                                     
          ,--.'|                                                     
       ,--,  | :                            ,---,                    
    ,---.'|  : '                          ,---.'|            __  ,-. 
    |   | : _' |                          |   | :          ,' ,'/ /| 
    :   : |.'  |   ,---.     ,--.--.      |   | |   ,---.  '  | |' | 
    |   ' '  ; :  /     \   /       \   ,--.__| |  /     \ |  |   ,' 
    '   |  .'. | /    /  | .--.  .-. | /   ,'   | /    /  |'  :  /   
    |   | :  | '.    ' / |  \__\/: . ..   '  /  |.    ' / ||  | '    
    '   : |  : ;'   ;   /|  ," .--.; |'   ; |:  |'   ;   /|;  : |    
    |   | '  ,/ '   |  / | /  /  ,.  ||   | '/  ''   |  / ||  , ;    
    ;   : ;--'  |   :    |;  :   .'   \   :    :||   :    | ---'     
    |   ,/       \   \  / |  ,     .-./\   \  /   \   \  /           
    '---'         `----'   `--`---'     `----'     `----'          --> 
    <!-- -header-------------------------------------------------- -->
    <header>

        <!-- il Tuo Profilo -->
        <section class="HorizontalInfo IlTuoProfilo">
            <!-- Profile Picture and Name -->
            <div class="FlexNameBox">
                <img src="./img/shinji image.jpg" alt="ProfilePicture" class="ProfilePhoto">
                <h3>Shinji</h3>
            </div>

            <!-- INFO impostazioni -->
            <div class="FlexNameBox FixedScale">
                <img src="./img/Icon/CircleNew.png" alt="Circle" class="icon">
                <img src="./img/Icon/messageNew.png" alt="Message" class="icon">
                <img src="./img/Icon/dotmenuNew.png" alt="Menu" class="icon">
            </div>
        </section>





        <!-- Barra blu che ti chiede di attivare le notifiche -->
        <section class="NotificheApp HorizontalInfo innerspace SpaceEvely">

            <img src="./img/Icon/nd-bell-sign.png" alt="Alert" class="bell">

            <div>
                <h3> Ricevi notifiche di nuovi messaggi </h3>
                <p> Attiva notifiche desktop </p>
            </div>
        </section>






        

        <!-- Barra contatti -->
        <section class="listaContatti">

            <!-- ! Contatto -->
            <div v-for="contact in contacts" :key="contact.id" class="contatto" @click="setActiveContact(contact)">
                <section class="profiloContatto">
                    <img :src="contact.img" alt="ProfilePicture" class="ProfilePhoto">
                    <div>
                        <h3>{{ contact.name }}</h3>
                        <p style="color: grey;">{{ contact.lastMessage }}</p>
                    </div>
                </section>
                <p>{{ contact.lastMessageTime }}</p>
            </div>

        </section>
        
    </header>                                                                
    <!-- -header-------------------FINE--------------------------- -->









                                                                                                                                                                                       
    <!--      ____                                    
            ,'  , `.                                  
         ,-+-,.' _ |              ,--,                
      ,-+-. ;   , ||            ,--.'|         ,---,  
     ,--.'|'   |  ;|            |  |,      ,-+-. /  | 
    |   |  ,', |  ':  ,--.--.   `--'_     ,--.'|'   | 
    |   | /  | |  || /       \  ,' ,'|   |   |  ,"' | 
    '   | :  | :  |,.--.  .-. | '  | |   |   | /  | | 
    ;   . |  ; |--'  \__\/: . . |  | :   |   | |  | | 
    |   : |  | ,     ," .--.; | '  : |__ |   | |  |/  
    |   : '  |/     /  /  ,.  | |  | '.'||   | |--'   
    ;   | |`-'     ;  :   .'   \;  :    ;|   |/       
    |   ;/         |  ,     .-./|  ,   / '---'        
    '---'           `--`---'     ---`-'               -->
    <!-- -main-------------------------------------------------- -->
    <main v-if="activeContact">
        
        <!-- Profilo Contatto Selezionato -->
        <section class="SelectedContactInfo">
            
            <!-- contatto con cui hai aperto la chat -->
            <div class="contatto">

                <!-- Avatar + Nome contatto + Ultimo messaggio -->
                <section class="profiloContatto">
                    <img :src="activeContact.img" alt="ProfilePicture" class="ProfilePhoto2">

                    <!-- Nome contatto e Ultimo messaggio inviato -->
                    <div>
                        <h3>{{ activeContact.name }}</h3>
                        <p style="color: grey;"> Ultimo accesso oggi alle 12:00 </p>
                    </div>

                </section>

                <!-- Orario invio ultimo messaggio -->
                <div class="ContactOption">
                    <img src="./img/Icon/searh icon.png" alt="SearchIcon" class="icon">
                    <img src="./img/Icon/clip.png" alt="ClipIcon" class="icon">
                    <img src="./img/Icon/644033-200.png" alt="Menu" class="icon">
                </div>
            
            </div>

        </section>


        <!-- ChatBox -->
        <section class="ChatBox">
            <div v-for="message in activeContact.messages" :key="message.id" :class="['message', message.type]">
                {{ message.text }}
            </div>

            <!-- Barra di testo dei messaggi da inviare -->
            <section>
                <input type="text" placeholder="    Scrivi Qui..." class="InputText">
                <button class="BottoneInvio">></button>
            </section>
        </section>
        
        
    </main>                                                                
    <!-- -main-------------------FINE--------------------------- -->


</div>  <!-- Chiusura instanza di Vue3 -->



    <!-- Collegamento CDN Vue-3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Collegamento JS -->
    <script src="script.js"></script>
</body>
</html>